<body id="body1">
   <div class="contenedor">
   <input type="text" class="form-control" style="width: 300px;margin: auto;" placeholder="correo electronico">
   <input type="password" class="form-control" style="width: 300px;margin: auto;" placeholder="contraseña" >
     <div class="row-cols-sm-7" style="text-align: center;">
     <button class="submit" class="btn btn-primary" id="BtnInvitar" >INGRESAR</button>
       </div>
       <div class="row-cols-sm-7" style="text-align: right;">
       <button class="submit" class="btn btn-primary" id="BtnRegistrar" >REGISTRATE</button>
     </div>

   </div>
 </body>

