body{
    background-image: url(../login/fifa.jpeg);

}
.contenedor{
    background-color: rgb(10, 11, 11);
   /* height: 50%;
    width: 10%;*/
}
.prueba{
    background-color: rgb(92, 92, 94);
}
#BtnInvitar{
    background-color: rgb(88, 87, 89);
}
