body{   
        margin: 100;
        min-height: 500vh;
        background-image: url(./fifa.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        margin: 50 auto;
        height: 500px;
        

    }
input{
     width: 10%;
     height: 30px;
     margin: 0.5rem;
     width: 100%;
     max-width: 600px;
     margin-left: 80%;


    }
.contenedor{
    width: 30%;
    background-color: rgb(10, 11, 11);
   /* height: 50%;
    width: 10%;*/
}
#BtnInvitar{
    background-color: rgb(88, 87, 89);
}
#BtnRegistrar{
    background-color: rgb(28, 27, 30);
}
