<body id="body1">
    

<div class="container">
    
    <label  class="form-label">MIS LIGAS</label>
    <button class="submit" class="btn btn-primary" id="BtnBuscar">BUSCAR</button>
    <div class="row g-3">
        <form class="form-control-sm">
            <div class="col-sm-8" id="Ligas">

            </div>
            <div class="col-sm-8" id="Invita1">
                <input type="text" class="form-control" id="inputText" placeholder="Pendiente">
                <div class="col">
                    <button class="submit" class="btn btn-primary" id="BtnInvitar">INVITAR</button>
                </div>
            </div>
            <div class="col-sm-8" id="Invita2">
                <input type="text" class="form-control" id="inputText" placeholder="Pendiente">
                <div class="col">
                    <button class="submit" class="btn btn-primary" id="BtnInvitar">INVITAR</button>
                </div>
            </div>
            <div class="col-sm-8" id="Invita3">
                <input type="text" class="form-control" id="inputText" placeholder="Pendiente">
                <div class="col">
                    <button class="submit" class="btn btn-primary" id="BtnInvitar">INVITAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>